<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.mapper.CourseRoomMapper" >
  <resultMap id="BaseResultMap" type="com.ems.entity.CourseRoom" >
    <constructor >
      <idArg column="c_r_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="interval" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="week" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_week" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="end_week" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    c_r_id, interval, c_id, r_id, week, desc, start_week, end_week
  </sql>
  <select id="selectByPrimaryKey" resultType="com.ems.entity.CourseRoom" parameterType="java.lang.Integer" >
    select *
    from t_course_room
    where c_r_id = #{cRId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_course_room
    where c_r_id = #{cRId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ems.entity.CourseRoom" >
    insert into t_course_room (c_r_id, interval, c_id, 
      r_id, week, desc, start_week, 
      end_week)
    values (#{cRId,jdbcType=INTEGER}, #{interval,jdbcType=VARCHAR}, #{cId,jdbcType=INTEGER}, 
      #{rId,jdbcType=INTEGER}, #{week,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{startWeek,jdbcType=VARCHAR}, 
      #{endWeek,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ems.entity.CourseRoom" >
     insert into t_course_room
    values (#{cRId,jdbcType=INTEGER}, #{interval,jdbcType=VARCHAR}, #{cId,jdbcType=INTEGER},
      #{rId,jdbcType=INTEGER}, #{week,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{startWeek,jdbcType=VARCHAR},
      #{endWeek,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.CourseRoom" >
    update t_course_room
    <set >
      <if test="interval != null" >
        interval = #{interval,jdbcType=VARCHAR},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="rId != null" >
        r_id = #{rId,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="startWeek != null" >
        start_week = #{startWeek,jdbcType=VARCHAR},
      </if>
      <if test="endWeek != null" >
        end_week = #{endWeek,jdbcType=VARCHAR},
      </if>
    </set>
    where c_r_id = #{cRId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ems.entity.CourseRoom" >
    update t_course_room
    set interval = #{interval,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=INTEGER},
      r_id = #{rId,jdbcType=INTEGER},
      week = #{week,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      start_week = #{startWeek,jdbcType=VARCHAR},
      end_week = #{endWeek,jdbcType=VARCHAR}
    where c_r_id = #{cRId,jdbcType=INTEGER}
  </update>

  <select id="selectCourseRoom" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    *
    from t_course_room
  </select>
  <select id="selectByCId" parameterType="java.lang.Integer" resultType="com.ems.entity.CourseRoom">
    select * from t_course_room where c_id=#{cId};
  </select>
</mapper>