<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.ems.entity.Room" >
    <constructor >
      <idArg column="r_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="position" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="max_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    r_id, position, max_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_room
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_room
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ems.entity.Room" >
    insert into t_room (r_id, position, max_count
      )
    values (#{rId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{maxCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ems.entity.Room" >
    insert into t_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="maxCount != null" >
        max_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="maxCount != null" >
        #{maxCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.Room" >
    update t_room
    <set >
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="maxCount != null" >
        max_count = #{maxCount,jdbcType=INTEGER},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ems.entity.Room" >
    update t_room
    set position = #{position,jdbcType=VARCHAR},
      max_count = #{maxCount,jdbcType=INTEGER}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
<!--  ***********************   -->
  <select id="selectRoom" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
   *
    from t_room
  </select>
  <!--  ***********************   -->

  <select id="queryRoomByPosition" parameterType="java.lang.String" resultType="Room">
    select * from t_room where position like #{position}
  </select>

  <select id="queryAllRoom" resultType="com.ems.entity.Room">
    select * from t_room order by position
  </select>
</mapper>