<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ems.entity.SysRole" >
    <constructor >
      <idArg column="r_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    r_id, r_name, r_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_role
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.ems.entity.SysRole" >
    insert into sys_role (r_id, r_name, r_desc
      )
    values (#{rId,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR}, #{rDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ems.entity.SysRole" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="rName != null" >
        r_name,
      </if>
      <if test="rDesc != null" >
        r_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rDesc != null" >
        #{rDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="addRole">
    insert into sys_role (r_name, r_desc
      )
    values (#{0},#{1}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.SysRole" >
    update sys_role
    <set >
      <if test="rName != null" >
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rDesc != null" >
        r_desc = #{rDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ems.entity.SysRole" >
    update sys_role
    set r_name = #{rName,jdbcType=VARCHAR},
      r_desc = #{rDesc,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>

    <!--  追加-->
  <select id="queryAll" resultMap="BaseResultMap">
    SELECT * FROM sys_role
  </select>


  <select id="queryRoleByEId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
sys_role.r_id,
sys_role.r_name,
sys_role.r_desc
FROM
sys_employee_role
INNER JOIN sys_role ON sys_employee_role.r_id = sys_role.r_id
WHERE sys_employee_role.e_id=#{eId}

  </select>
    <select id="queryRolesByPage" resultType="com.ems.entity.SysRole">
      SELECT * FROM sys_role LIMIT #{0},#{1}
    </select>


</mapper>